<% @page_title = 'Novo serviço ou procedimento' %>

<%= render 'form', service: @service %>

<div class="fixed-action-btn">
  <%= link_to services_path, class: "btn-floating btn-large waves-effect waves-light teal darken-1" do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>