<% @page_title = @service.name %>

<p>
  <strong>Nome:</strong>
  <%= @service.name %>
</p>

<div class="fixed-action-btn">
  <%= link_to edit_service_path(@service), class: "btn-floating btn-large waves-effect waves-light #{Settings.tema.cor.primaria}" do %>
    <i class="material-icons">create</i>
  <% end %>
  <%= link_to @service, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">delete</i>
  <% end %>
  <%= link_to services_path, class: "btn-floating btn-large waves-effect waves-light #{Settings.tema.cor.primaria}" do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>