<% @page_title = @client.name + " - Editar" %>

<%= render 'form', client: @client %>

<div class="fixed-action-btn">
  <%= link_to @client, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">delete</i>
  <% end %>
  <%= link_to clients_path, class: "btn-floating btn-large waves-effect waves-light #{Settings.tema.cor.primaria}" do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>