<% @page_title = 'Novo calendário' %>

<%= render 'form', calendar: @calendar %>

<div class="fixed-action-btn">
  <%= link_to calendars_path, class: "btn-floating btn-large waves-effect waves-light teal darken-1" do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>