<% @page_title = @calendar.name %>

<p>
  <strong>Nome:</strong>
  <%= @calendar.name %>
</p>

<div class="fixed-action-btn">
  <%= link_to edit_calendar_path(@calendar), class: "btn-floating btn-large waves-effect waves-light teal darken-1" do %>
    <i class="material-icons">create</i>
  <% end %>
  <%= link_to @calendar, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">delete</i>
  <% end %>
  <%= link_to calendars_path, class: "btn-floating btn-large waves-effect waves-light teal darken-1" do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>