@import "materialize";
@import "material_icons";
@import "scaffolds";
@import "simple_calendar";
@import "calendars";

.turbolinks-progress-bar {
  height: 5px;
  background-color: red;
}

.faixa-titulos{
  background: #ecf0f1;
  margin-bottom: 20px;
}

.titulo-bc h3 {
  color: #999;
  font-size: 1.5em !important;
  font-weight: bold;
  margin: 0;
  text-align: left;  
  vertical-align: middle;
  display:inline-block; 
  padding: 10px;
  //border-bottom: 1px solid #999;
  //text-transform: uppercase;
  line-height: 40px;
  //text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.num-attends{
  color: #ff0000;
  text-align: right;
  font-size: 12px;
}