<%= month_calendar events: events, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link do |date, event| %>
  <a href="http://example.com" class="link-day">
    <div class="calendar-day-wrapper">
      <%= date.day %>

       <% if event.length != 0 %>
     		<div class="num-attends"><%= event.length %></div>
		<% end %>
    </div>
  </a>
<% end %>